@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aleo:ital,wght@0,100..900;1,100..900&family=Alfa+Slab+One&family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-display: "Montserrat";

  --color-secondText : #737373;
  --color-text : #252B42;
  --color-lightBg : #FFFFFF;
  --color-lightText : #FFFFFF;
  --color-seconday1 : #23856D;
  --color-primary : #23A6F0;
  --color-alert : #E77C40;
  --color-darkBg : #252B42;
  --color-muted : #BDBDBD;
  --color-danger : #E74040;
  --color-disabledElement : #8EC2F2;
  --color-primaryText : #23A6F0;
  --color-success : #2DC071; 
  --color-lightGray : #FAFAFA;
  --color-lightTextGray : #FAFAFA;
  --color-mutedTex : #BDBDBD;
  --color-secondary : #3C403D;
  --color-lightGray2 : #ECECEC;
  --color-fill : #F9F9F9;
  --color-border: #DDDDDD;
  --color-hover: #2A7CC7;


  --breakpoint-xl1440 : 1440px;
}

body{
  @apply font-display
}

h1{
  @apply text-[58px] font-extrabold leading-[80px] tracking-[0.2px]
}

h2{
  @apply text-[40px] font-bold leading-[57px] tracking-[0.2px]
}

h3{
  @apply text-[24px] font-bold leading-[32px] tracking-[0.1px]
}

h4{
  @apply text-[20px] font-medium leading-[30px] tracking-[0.2px]
}

h5{
  @apply text-[16px] font-bold leading-[24px] tracking-[0.1px]
}

h6{
  @apply text-[14px] font-semibold leading-[24px] tracking-[0.2px]
}

.btn-text{
  @apply text-[14px] font-bold leading-[28px] tracking-[0.2px]
}

.mobile-menu-text{
  @apply text-[30px] font-normal leading-[45px] tracking-[0.2px]
}

p{
  @apply text-[14px] font-medium leading-[20px] tracking-[0.2px]
}

.list-text{
  @apply text-[20px] font-normal leading-[30px] tracking-[0.2px] text-secondText
}

.link-text{
  @apply text-[14px] font-medium leading-[24px] tracking-[0.2px] text-secondText
}

.btn-primary{
  @apply bg-primary text-white px-5 py-5 border border-primary rounded-xs text-[14px] font-bold leading-[28px] tracking-[0.2px] hover:cursor-pointer
}

.btn-primary-small{
  @apply bg-primary text-white px-3 py-3 border border-primary rounded-xs text-[14px] font-bold leading-[28px] tracking-[0.2px] hover:cursor-pointer
}

.btn-primary-reverse{
  @apply bg-white text-primary px-10 py-5 border border-primary rounded-xs text-[14px] font-bold leading-[28px] tracking-[0.2px] hover:cursor-pointer
}

.btn-success{
  @apply bg-success text-white px-10 py-5 border border-success rounded-xs text-[14px] font-bold leading-[28px] tracking-[0.2px] hover:cursor-pointer
}

.btn-white{
  @apply bg-hover text-white px-10 py-5 border border-white rounded-xs text-[14px] font-bold leading-[28px] tracking-[0.2px] hover:cursor-pointer
}

.input-label{
  @apply text-text text-[18px] flex flex-col gap-3 w-80
}

.input-input{
  @apply bg-[#F9F9F9] border border-[#E5E5E5] px-3
  py-3 text-[14px] text-secondText w-full
}

.input-error{
  @apply text-danger text-[10px] w-full
}